.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px 100px auto;
  grid-template-areas:
    "header header"
    "category category"
    "guess score"
    "guess lives";
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
label {
  margin: 10px;
}

#header {
  grid-area: header;
  grid-template-areas: "title reset";
  grid-template-columns: 50pc 50pc;
}

#guess {
  grid-area: guess;
}
#score {
  grid-area: score;
}
#lives {
  grid-area: lives;
}

.reset {
  grid-area: reset;
  position: absolute;
  right: 0;
  margin: 15px;
}

.title {
  grid-area: title;
  display: inline;
}

#category {
  grid-area: category;
  grid-template-areas: "select guessedWord";
  display: grid;
  grid-column-gap: 30px;
}
.select {
  grid-area: select;
  margin: 10px;
  width: 1fr;
}

.guessedWord {
  margin: 10px;
  grid-area: guessedWord;
  width: 1fr;
}
