@font-face {
  font-family: "Virgil";
  src: local("Virgil"), url(./assets/fonts/Virgil.woff2) format("woff2");
}

:root {
  --spacing: 6px;
  font-size: 20px;
  --red-heart-colour: #fa5252;
  --hearts-init-opacity: 0;
  --hearts-init-animation-delay: 0;
}

@media only screen and (min-width: 576px) {
  :root {
    --spacing: 8px;
    font-size: 28px;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --spacing: 12px;
    font-size: 32px;
  }
}

.App {
  font-family: "Virgil", cursive;
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6em 5em;
  grid-template-areas:
    "header header"
    "word-hints word-hints"
    "guess lives";
  background-color: #d4d4d4;
  overflow-y: hidden;
}

#word-hints,
#guess,
#score,
#lives {
  /* border: solid 1px green; */
  padding: var(--spacing);
}

#header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

#header .game-title {
  display: inline;
  width: auto;
  align-self: center;
  background-color: #eee;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s ease;
}

#header .game-title.blood {
  background-image: -webkit-linear-gradient(0deg, #f00 0%, #700 30%, #fff);
}

/* 
    reset button and related animations
 */

#header .reset-button {
  z-index: 3;

  position: fixed;
  right: 10px;
  top: 0px;
  height: 6em;

  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}

.reset-button-svg {
  fill: #333;
  stroke: #ccc;
  transition: all 0.5s ease-out;
  translate: 0 -1em;
}

.reset-button-text {
  align-self: center;
  opacity: 0;
  grid-area: textover;
  color: #f00;
  user-select: none;
  padding-bottom: 1em;
}

.reset-button:hover > .reset-button-text {
  opacity: 1;
}

.reset-button:hover
  > .reset-button-svg:not(.noose-retract-exit, .noose-retract-exit-active, .noose-retract-exit-done) {
  fill: #000;
  stroke: #f00;
  translate: none;
}

.noose-retract-exit {
  translate: none;
  transition: translate 0.5s;
}

.noose-retract-exit-active {
  translate: 0 -6em;
}

.noose-retract-exit-done {
  translate: 0 -6em;
}

.reset-splash {
  position: fixed;
  bottom: calc(0px + 100vh);
  width: 100vw;
  height: 500vh;
  background: rgba(0, 0, 0, 75%);
  z-index: 3;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.reset-splash.drop-noose-enter {
  bottom: calc(0px + 100vh);
  animation: reset-splash 1s ease-in;
  animation-play-state: paused;
}

.reset-splash.drop-noose-enter-active {
  animation-play-state: running;
}

.large-noose {
  fill: #000;
  stroke: #f00;
  width: min(60vw, 70vh);
  margin-bottom: 50vh;
}

@keyframes reset-splash {
  0% {
    bottom: calc(0px + 100vh);
  }
  25% {
    bottom: 0px;
  }
  75% {
    bottom: 0px;
  }
  100% {
    bottom: calc(0px + 100vh);
  }
}

@media only screen and (min-width: 768px) {
  .large-noose {
    fill: #000;
    stroke: #f00;
    width: min(60vw, 70vh);
    margin-bottom: 10vh;
  }
}

/* 
 *   Guess Component
 *
 */

#guess {
  display: flex;
  grid-area: guess;
}

#keyboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  #keyboard {
    padding: calc(var(--spacing) * 2);
  }
}

#guess .letter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  background-size: 2em 2em;
  margin: var(--spacing);
  background-image: url("./assets/image/grey-stone-24x24.svg");
}

@media only screen and (min-width: 768px) {
  #guess .letter-button {
    width: 1.5em;
    height: 1.5em;
    background-size: 1.5em 1.5em;
  }
}

#guess .letter-button.can-click {
  color: #c4c4c4;
  filter: drop-shadow(2px 2px 4px #333);
  cursor: pointer;
  transition: animation 0.5s ease filter 0.5s ease;
}

#guess .letter-button.can-click:hover {
  transform: translate(0, -5px);
  filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 5px #ff0);
  animation: float-and-vibrate 0.4s linear infinite forwards;
  animation-delay: 0.1s;
  transition: animation 0.5s ease filter 0.5s ease;
}

#guess .letter-button.correct-guess {
  color: #90ee90;
  transform: translate(0, -5px);
  filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 5px #0f0);
  animation: pulsation-glow 2s ease infinite;
  transition: filter 0.5s ease;
}

#guess .letter-button.wrong-guess {
  color: #f00;
  filter: drop-shadow(0px 0px 10px hsl(0, 100%, 25%));
  animation: free-fall 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s forwards;
}

@keyframes free-fall {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 0.8;
    transform: translateY(0) rotate(30deg);
  }
  100% {
    opacity: 0;
    transform: translateY(400px) rotate(30deg);
  }
}

@keyframes float-and-vibrate {
  0% {
    transform: translate(0, -5px);
  }
  20% {
    transform: translate(-1px, -4px);
  }
  40% {
    transform: translate(-1px, -6px);
  }
  60% {
    transform: translate(1px, -4px);
  }
  80% {
    transform: translate(1px, -6px);
  }
  100% {
    transform: translate(0, -5px);
  }
}

@keyframes pulsation-glow {
  0%,
  60%,
  100% {
    transform: translate(0, -5px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 5px #0f0)
      brightness(1.2);
  }
  10%,
  50% {
    transform: translate(0, -5px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 6px #3f3)
      brightness(1.3);
  }
  20%,
  40% {
    transform: translate(0, -4px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 7px #6f6)
      brightness(1.4);
  }
  30% {
    transform: translate(0, -3px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 8px #9f9)
      brightness(1.5);
  }
  70%,
  90% {
    transform: translate(0, -6px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 3px #0c0)
      brightness(1.2);
  }
  80% {
    transform: translate(0, -7px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 1px #0a0)
      brightness(1.2);
  }
}

#lives {
  grid-area: lives;
  /* font-weight: bold; */
}

#word-hints {
  grid-area: word-hints;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#guessedWord {
  letter-spacing: var(--spacing);
}

#word-hints #category {
  color: #f00;
}

/*  
 *           Jump scare effects related
 *
 */

.overlay {
  /* display: none; */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.non-clickable {
  pointer-events: none;
}

.blood-effect {
  opacity: 0;
  background-image: url("./assets/image/bloody-splatter-0.png");
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(1px) saturate(400%);

  flex-direction: 100%;
}

.blood-effect.gameover {
  opacity: 1;
  animation: blood-effect-gameover 4s linear forwards;
}

@keyframes blood-effect-gameover {
  0% {
    filter: blur(1px) opacity(1) saturate(400%);
  }
  60% {
    filter: blur(5px) opacity(0.5) saturate(200%);
  }
  100% {
    filter: blur(10px) opacity(0.5) saturate(0);
  }
}

.gameover-message {
  opacity: 0;
  color: #f00;
  background-color: rgba(0, 0, 0, 75%);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;

  animation: gameover-message 3s ease-out 3s 1 forwards;
}

@keyframes gameover-message {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.red-flash div:not(.overlay) {
  animation: red-flash 0.5s ease 1 !important;
}

div.red-flash .letter-button {
  color: #f00 !important;
}

@keyframes red-flash {
  0% {
    opacity: 0;
    background: unset;
    filter: unset;
  }
  59% {
    opacity: 1;
    background-color: #f00;
    color: white;
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  61% {
    opacity: 1;
    background-color: #f00;
    transform: scaleX(0.3) scaleY(1.7) skewX(230deg);
    color: white;
  }
  63% {
    opacity: 0;
    background-color: unset;
    color: unset;
    transform: scaleX(1) scaleY(1) skewX(0);
  }
  73% {
    opacity: 1;
  }
}

.glitch {
  animation: glitch 0.2s ease 1 !important;
}

@keyframes glitch {
  10%,
  90% {
    transform: translate(-12px, 13px) skewX(170deg);
  }
  20%,
  80% {
    transform: translate(13px, -12px) skewY(-10deg);
  }
  30%,
  50%,
  70% {
    transform: translate(20px, 20px) skewX(290deg);
  }
  40%,
  60% {
    transform: translate(-20px, -20px);
  }
  27%,
  83% {
    opacity: 0;
  }
  28%,
  84% {
    opacity: 1;
  }
  57% {
    background: #f00;
  }
  58% {
    background: unset;
  }
}
