@font-face {
  font-family: "Virgil";
  src: local("Virgil"), url(./assets/fonts/Virgil.woff2) format("woff2");
}

.App {
  font-family: "Virgil", cursive;
  text-align: center;

  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 6em auto;
  grid-template-areas:
    "header"
    "main";

  overflow: hidden;
  background: url("./assets/image/pumpkin-background.svg");
  animation: bg-scrolling 1000s linear infinite;
}

@keyframes bg-scrolling {
  100% {
    background-position: -10000px -10000px;
  }
}

/* responsive sizing */

.App {
  --spacing: 6px;
  font-size: 20px;
}

@media only screen and (min-width: 576px) {
  .App {
    --spacing: 8px;
    font-size: 28px;
  }
}

@media only screen and (min-width: 768px) {
  .App {
    --spacing: 12px;
    font-size: 32px;
  }
}

/* color theme (for jump scare purpose! :D ) */

.App {
  --red-heart-colour: #fa5252;
  --hearts-init-opacity: 0;
  --hearts-init-animation-delay: 0;

  --header-text-colour: #333;
  --header-bg-colour: #ffa500e0;
  --body-text-colour: #333;
  --body-bg-colour: #f0f0f0d0;
  --hangman-colour: #000;
  --keyboard-highlight-colour: #ffa50030;
}

.App.jump-scare-stage-1 {
  --header-text-colour: #f00;
  --header-bg-colour: -webkit-linear-gradient(
    0deg,
    #400 0%,
    #700 30%,
    #700 70%,
    #400
  );

  --body-text-colour: #ccc;
  --body-bg-colour: unset;
  --hangman-colour: #c00;

  background: url("./assets/image/pumpkin-background-dark.svg");
}

.App.jump-scare-stage-1 #death-svg {
  opacity: 0.3;
  filter: saturate(0);
}

.App.jump-scare-stage-1 #keyboard {
  background: #ff300060;
}

.App.jump-scare-stage-1 #hangman-svg {
  filter: drop-shadow(0 0 5px #c00) brightness(1.2);
}

.App.jump-scare-stage-2 {
  --header-text-colour: #ccc;
  --header-bg-colour: #100;
  --body-bg-colour: unset;
  --body-text-colour: #ccc;

  background: radial-gradient(ellipse at bottom, #999 0%, #000 100%);
}

.App.jump-scare-stage-2 #death-svg {
  opacity: 1;
}

.App.jump-scare-stage-2 #keyboard {
  filter: saturate(0);
}

.App.game-over {
  filter: none;
}

.App.game-over #death-svg {
  opacity: 0;
}

.App.game-over #hangman-svg {
  opacity: 0;
}

.App.game-over .letter-button:not(.wrong-guess) {
  animation: free-fall 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s forwards;
}

/* .App.jump-scare-stage-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/image/pumpkin-background.svg");
  filter: grayscale(100%) opacity(0.9) brightness(0) invert(0.7);
  z-index: -1;
} */

#main {
  grid-area: main;

  display: grid;
  overflow: hidden;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6em 1fr 1fr;

  grid-template-areas:
    "word-hints word-hints lives"
    "hangman hangman hangman"
    "guess guess guess";

  background: var(--body-bg-colour);
  color: var(--body-text-colour);
}

@media only screen and (min-width: 768px) {
  #main {
    grid-template-columns: 3fr 3fr 4fr;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "word-hints word-hints lives"
      "guess guess hangman";
  }
}

#word-hints,
#guess,
#lives,
#hangman {
  /* border: solid 1px green; */
  padding: var(--spacing);
}

#display-score {
  position: fixed;
  top: 1em;
  left: 1em;
  color: var(--header-text-colour);
}

#header {
  grid-area: header;

  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100vw;

  background: var(--header-bg-colour);
  color: var(--header-text-colour);
  /* background-color: #000; */
}

#header .game-title {
  display: flex;
  flex-direction: row;
  width: 100vw;

  position: relative;
  top: 0.5em;

  justify-content: center;
  align-items: center;

  padding-bottom: 0.2em;
  white-space: nowrap;
  font-size: 1.5em;

  /* background-color: #d4d4d4;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

@media only screen and (min-width: 768px) {
  #header .game-title {
    font-size: 2em;
  }
}

#header .pumpkin {
  min-width: 1em;
  background-image: url("./assets/image/jack-o-lantern.svg");
  background-repeat: no-repeat;
}
#header .header-text {
  max-width: 60vw;
  flex: 1 1 0;
}

.jump-scare-stage-1 #header {
  background: -webkit-linear-gradient(0deg, #400 0%, #700 30%, #700 70%, #400);
}

/* 
    reset button and related animations
 */

#main .reset-button {
  z-index: 3;

  position: fixed;
  right: 10px;
  top: 0px;
  height: 6em;

  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}

.reset-button-svg {
  fill: #333;
  stroke: #ccc;
  transition: all 0.5s ease-out;
  translate: 0 -1em;

  filter: drop-shadow(0 0 3px #ccc);
}

.reset-button-text {
  align-self: center;
  opacity: 0;
  grid-area: textover;
  color: #f00;
  user-select: none;
  padding-bottom: 1em;
}

.reset-button:hover > .reset-button-text {
  opacity: 1;
}

.reset-button:hover
  > .reset-button-svg:not(.noose-retract-exit, .noose-retract-exit-active, .noose-retract-exit-done) {
  fill: #000;
  stroke: #f00;
  translate: none;
}

.noose-retract-exit {
  translate: none;
  transition: translate 0.5s;
}

.noose-retract-exit-active {
  translate: 0 -6em;
}

.noose-retract-exit-done {
  translate: 0 -6em;
}

.reset-splash {
  position: fixed;
  bottom: calc(100px + 100vh);
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 75%);
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-splash.drop-noose-enter {
  bottom: calc(0px + 100vh);
  animation: reset-splash 1s ease-in;
  animation-play-state: paused;
}

.reset-splash.drop-noose-enter-active {
  animation-play-state: running;
}

.reset-splash-graphic {
  fill: #000;
  width: min(70vw, 80vh);

  filter: drop-shadow(0px 0px 20px #ffa500);
}

@keyframes reset-splash {
  0% {
    bottom: calc(0px + 100vh);
  }
  25% {
    bottom: 0px;
  }
  75% {
    bottom: 0px;
  }
  100% {
    bottom: calc(0px + 100vh);
  }
}

@media only screen and (min-width: 768px) {
  .reset-splash-graphic {
    fill: #000;
    stroke: #f00;
    width: min(60vw, 70vh);
    margin-bottom: 10vh;
  }
}

/* 
 *   Guess Component
 *
 */

#guess {
  grid-area: guess;

  display: flex;
  align-items: center;
}

#keyboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;

  border-radius: 3em;
  background: var(--keyboard-highlight-colour);
  padding: calc(var(--spacing));
}

@media only screen and (min-width: 768px) {
  #keyboard {
    margin: calc(var(--spacing));
  }
}

#guess .letter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  background-size: 2em 2em;
  margin: var(--spacing);
  background-image: url("./assets/image/grey-stone-24x24.svg");
}

@media only screen and (min-width: 768px) {
  #guess .letter-button {
    width: 1.5em;
    height: 1.5em;
    background-size: 1.5em 1.5em;
  }
}

#guess .letter-button.can-click {
  color: #c4c4c4;
  filter: drop-shadow(2px 2px 4px #333);
  cursor: pointer;
  transition: animation 0.5s ease filter 0.5s ease;
}

#guess .letter-button.can-click:hover {
  transform: translate(0, -5px);
  filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 5px #ff0);
  animation: float-and-vibrate 0.4s linear infinite forwards;
  animation-delay: 0.1s;
  transition: animation 0.5s ease filter 0.5s ease;
}

#guess .letter-button.correct-guess {
  color: #90ee90;
  transform: translate(0, -5px);
  filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 5px #0f0);
  animation: pulsation-glow 2s ease infinite;
  transition: filter 0.5s ease;
}

#guess .letter-button.wrong-guess {
  color: #f00;
  filter: drop-shadow(0px 0px 10px hsl(0, 100%, 25%));
  animation: free-fall 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s forwards;
}

@keyframes free-fall {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 0.8;
    transform: translateY(0) rotate(30deg);
  }
  100% {
    opacity: 0;
    transform: translateY(400px) rotate(30deg);
  }
}

@keyframes float-and-vibrate {
  0% {
    transform: translate(0, -5px);
  }
  20% {
    transform: translate(-1px, -4px);
  }
  40% {
    transform: translate(-1px, -6px);
  }
  60% {
    transform: translate(1px, -4px);
  }
  80% {
    transform: translate(1px, -6px);
  }
  100% {
    transform: translate(0, -5px);
  }
}

@keyframes pulsation-glow {
  0%,
  60%,
  100% {
    transform: translate(0, -5px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 5px #0f0)
      brightness(1.2);
  }
  10%,
  50% {
    transform: translate(0, -5px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 6px #3f3)
      brightness(1.3);
  }
  20%,
  40% {
    transform: translate(0, -4px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 7px #6f6)
      brightness(1.4);
  }
  30% {
    transform: translate(0, -3px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 8px #9f9)
      brightness(1.5);
  }
  70%,
  90% {
    transform: translate(0, -6px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 3px #0c0)
      brightness(1.2);
  }
  80% {
    transform: translate(0, -7px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 1px #0a0)
      brightness(1.2);
  }
}

#hangman {
  grid-area: hangman;
  position: relative;
  top: 2em;
  left: 2em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
}

@media only screen and (min-width: 576px) {
  #hangman {
    justify-content: center;
  }
}

#death-svg {
  opacity: 0.05;
  transform: scaleX(-1);
  overflow: hidden;
  transition: opacity ease 1s;
}

#word-hints {
  grid-area: word-hints;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  max-width: 60vw;
}

#hints,
#word-to-guess {
  display: grid;
  grid-template-rows: 1fr auto;
}

@media only screen and (min-width: 576px) {
  #word-hints {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #hints,
  #word-to-guess,
  #lives {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}

#guessedWord {
  max-width: 33vw;
  letter-spacing: var(--spacing);
  word-wrap: break-word;
}

#word-hints #category {
  color: #f00;
}

#lives {
  grid-area: lives;

  display: grid;
  grid-template-rows: 1fr 1fr;
}

#hearts {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.2em;
}

/*  
 *           Jump scare effects related
 *
 */

.overlay {
  /* display: none; */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.non-clickable {
  pointer-events: none;
}

.blood-effect {
  opacity: 0;
  background-image: url("./assets/image/bloody-splatter-0.png");
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(1px) saturate(400%);

  flex-direction: 100%;
}

.blood-effect.gameover {
  opacity: 1;
  animation: blood-effect-gameover 3s linear 1s forwards;
}

@keyframes blood-effect-gameover {
  0% {
    filter: blur(1px) opacity(1) saturate(400%);
  }
  60% {
    filter: blur(5px) opacity(0.5) saturate(200%);
  }
  100% {
    filter: blur(10px) opacity(0.5) saturate(0);
  }
}

.gameover-message {
  opacity: 0;
  color: #f00;
  background-color: rgba(0, 0, 0, 75%);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;

  animation: gameover-message 2s ease-out 2s 1 forwards;
}

.show-reset-button {
  position: fixed;
  color: #fc0;
  font-size: 2rem;
  top: 2rem;
  right: 6rem;
}

@keyframes gameover-message {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.jump-scare-stage-1 div:not(.non-clickable) {
  animation: red-flash 0.5s ease 1;
}

div.jump-scare-stage-1 .letter-button {
  color: #f00;
}

@keyframes red-flash {
  0% {
    opacity: 0;
    background: unset;
    filter: unset;
  }
  59% {
    opacity: 1;
    background-color: #f00;
    color: white;
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  61% {
    opacity: 1;
    background-color: #f00;
    transform: scaleX(0.3) scaleY(1.7) skewX(230deg);
    color: white;
  }
  63% {
    opacity: 0;
    background-color: unset;
    color: unset;
    transform: scaleX(1) scaleY(1) skewX(0);
  }
  73% {
    opacity: 1;
  }
}

.jump-scare-stage-2 {
  animation: glitch 0.2s ease 1 !important;
}

@keyframes glitch {
  10%,
  90% {
    transform: translate(-12px, 13px) skewX(170deg);
  }
  20%,
  80% {
    transform: translate(13px, -12px) skewY(-10deg);
  }
  30%,
  50%,
  70% {
    transform: translate(20px, 20px) skewX(290deg);
  }
  40%,
  60% {
    transform: translate(-20px, -20px);
  }
  27%,
  83% {
    opacity: 0;
  }
  28%,
  84% {
    opacity: 1;
  }
  57% {
    background: #f00;
  }
  58% {
    background: unset;
  }
}

.victory-effect {
  display: flex;
  justify-content: center;
  align-items: center;
}

.victory-effect .green-glow-appear {
  opacity: 0;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #ff0,
    inset -20px 0 80px #0f0, inset 20px 0 300px #ff0, inset -20px 0 300px #0f0,
    0 0 50px #fff, -10px 0 80px #ff0, 10px 0 80px #0f0;

  animation: enlarge 2s ease forwards;
  animation-play-state: paused;
}

.victory-effect .green-glow-appear-active {
  opacity: 1;
  animation-play-state: running;
}

.victory-effect .green-glow-enter-done {
  opacity: 0;
}

@keyframes enlarge {
  0% {
    transform: scale(0.2);
    filter: blur(2px);
  }
  100% {
    transform: scale(5);
    filter: blur(50px) opacity(0.1);
  }
}
