@font-face {
  font-family: "Virgil";
  src: local("Virgil"), url(./assets/fonts/Virgil.woff2) format("woff2");
}

:root {
  --spacing: 6px;
  font-size: 20px;
  --red-heart-colour: #fa5252;
  --hearts-init-opacity: 0;
  --hearts-init-animation-delay: 0;
}

@media only screen and (min-width: 576px) {
  :root {
    --spacing: 8px;
    font-size: 28px;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --spacing: 12px;
    font-size: 32px;
  }
}

.App {
  font-family: "Virgil", cursive;
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6em 5em;
  grid-template-areas:
    "header header"
    "word-hints word-hints"
    "guess lives";
  background-color: lightgray;
  overflow-y: hidden;
}

#word-hints,
#guess,
#score,
#lives {
  /* border: solid 1px green; */
  padding: var(--spacing);
}

#header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

#header .game-title {
  display: inline;
  width: auto;
  align-self: center;
  background-color: #eee;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s ease;
}

#header .game-title.blood {
  background-image: -webkit-linear-gradient(0deg, #f00 0%, #700 30%, #fff);
}

#header .reset-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: var(--spacing);
}

@media only screen and (min-width: 768px) {
  #header .reset-button {
    top: unset;
    margin: 2em;
  }
}

#guess {
  display: flex;
  grid-area: guess;
}

#keyboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  #keyboard {
    padding: calc(var(--spacing) * 2);
  }
}

#guess .letter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  background-size: 2em 2em;
  margin: var(--spacing);
  background-image: url("./assets/image/grey-stone-24x24.svg");
}

@media only screen and (min-width: 768px) {
  #guess .letter-button {
    width: 1.5em;
    height: 1.5em;
    background-size: 1.5em 1.5em;
  }
}

#guess .letter-button.can-click {
  color: #c4c4c4;
  filter: drop-shadow(2px 2px 4px #333);
  cursor: pointer;
  transition: animation 0.5s ease filter 0.5s ease;
}

#guess .letter-button.can-click:hover {
  transform: translate(0, -5px);
  filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 5px #ff0);
  animation: float-and-vibrate 0.4s linear infinite forwards;
  animation-delay: 0.1s;
  transition: animation 0.5s ease filter 0.5s ease;
}

#guess .letter-button.correct-guess {
  color: #90ee90;
  transform: translate(0, -5px);
  filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 5px #0f0);
  animation: pulsation-glow 2s ease infinite;
  transition: filter 0.5s ease;
}

#guess .letter-button.wrong-guess {
  color: #f00;
  filter: drop-shadow(0px 0px 10px hsl(0, 100%, 25%));
  animation: free-fall 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s forwards;
}

@keyframes free-fall {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 0.8;
    transform: translateY(0) rotate(30deg);
  }
  100% {
    opacity: 0;
    transform: translateY(400px) rotate(30deg);
  }
}

@keyframes float-and-vibrate {
  0% {
    transform: translate(0, -5px);
  }
  20% {
    transform: translate(-1px, -4px);
  }
  40% {
    transform: translate(-1px, -6px);
  }
  60% {
    transform: translate(1px, -4px);
  }
  80% {
    transform: translate(1px, -6px);
  }
  100% {
    transform: translate(0, -5px);
  }
}

@keyframes pulsation-glow {
  0% {
    transform: translate(0, -5px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 5px #0f0)
      brightness(1.2);
  }
  10% {
    transform: translate(0, -5px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 6px #3f3)
      brightness(1.3);
  }
  20% {
    transform: translate(0, -4px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 7px #6f6)
      brightness(1.4);
  }
  30% {
    transform: translate(0, -3px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 8px #9f9)
      brightness(1.5);
  }
  40% {
    transform: translate(0, -4px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 7px #6f6)
      brightness(1.4);
  }
  50% {
    transform: translate(0, -5px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 6px #3f3)
      brightness(1.3);
  }
  60% {
    transform: translate(0, -5px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 5px #0f0)
      brightness(1.2);
  }
  70% {
    transform: translate(0, -6px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 3px #0c0)
      brightness(1.2);
  }
  80% {
    transform: translate(0, -7px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 1px #0a0)
      brightness(1.2);
  }
  90% {
    transform: translate(0, -6px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 3px #0c0)
      brightness(1.2);
  }
  100% {
    transform: translate(0, -5px);
    filter: drop-shadow(7px 7px 4px #333) drop-shadow(0px 0px 5px #0f0)
      brightness(1.2);
  }
}

#lives {
  grid-area: lives;
  /* font-weight: bold; */
}

.title {
  grid-area: title;
  display: inline;
}

#word-hints {
  grid-area: word-hints;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#guessedWord {
  letter-spacing: var(--spacing);
}

#word-hints #category {
  color: #f00;
}

.blood-effect {
  display: none;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  filter: blur(1px), brightness(1.3), saturate(400%);
  position: fixed;
  top: 0;
  left: 0;
}

.blood-effect.show {
  display: block;
  animation: blood-effect 2s ease-in forwards;
}

@keyframes blood-effect {
  0% {
    display: block;
    filter: opacity(0.8);
  }
  60% {
    display: block;
    filter: opacity(0.5) saturate(0);
  }
  100% {
    display: none;
    filter: opacity(0);
    z-index: -1;
  }
}
